extends blocks/common.blocks/common/template.pug

block variables
	- title="itProgrammer"

block content
	.wrapper
		include blocks/common.blocks/header/header.pug
		include blocks/common.blocks/top/top.pug
		include blocks/common.blocks/main/main.pug
		include blocks/common.blocks/overview/overview.pug
		include blocks/common.blocks/contacts/contacts.pug
		include blocks/common.blocks/faq/faq.pug

	script(src="js/jquery-3.3.1.min.js")
	script(src="js/scrolling.js")