// common.blocks

// block common
@import "blocks/common.blocks/common/colors";
@import "blocks/common.blocks/common/main";
// block header
@import "blocks/common.blocks/header/header";
// block top
@import "blocks/common.blocks/top/top";
// block main
@import "blocks/common.blocks/main/main";
// block overview
@import "blocks/common.blocks/overview/overview";
// block contacts
@import "blocks/common.blocks/contacts/contacts";
// block faq
@import "blocks/common.blocks/faq/faq";

// touch.blocks
@import "blocks/touch.blocks/common/media";