/* Вопросы и ответы */
.faq {
	background-color #fff
	border-top 2px dashed #e4e3e3
	width 100%
	float left
	padding-top 70px
	padding-bottom 70px
}
.faq .pay__title, .info__title, .guarantees__title {
	font-weight lighter
	color #a3a0ad
	margin-bottom 20px
	font-size 2.2em
}
.faq .pay__heading, .info__heading, .guarantees__heading {
	color #7d7d7d
	font-size 1.3em
	font-weight bold
}
.faq p {
	font-family Arimo, Helvetica, sans-serif
	-webkit-font-smoothing antialiased
	color #4a4a4a
	font-size 0.95em
	margin-bottom 40px
}