.header
	div(class="header__logo" id="logo" onclick="slowScroll('#top')")
		span itProger
	div(class="header__about" id="about")
		a(href="#" title="Возможности" onclick="slowScroll('#main')") Возможности
		a(href="#" title="Преимущества" onclick="slowScroll('#overview')") Преимущества
		a(href="#" title="Контакты" onclick="slowScroll('#contacts')") Контакты
		a(href="#" title="Ответы на вопросы" onclick="slowScroll('#faq')") Ответы на вопросы