header(class="header")
	div(class="header__logo" id="header__logo" onclick="slowScroll('#top')")
		span itProgrammer
	div(class="header__about" id="header__about")
		a(href="#" title="Возможности" onclick="slowScroll('#main')") Возможности
		a(href="#" title="Преимущества" onclick="slowScroll('#overview')") Преимущества
		a(href="#" title="Контакты" onclick="slowScroll('#contacts')") Контакты
		a(href="#" title="Ответы на вопросы" onclick="slowScroll('#faq')") Ответы на вопросы