div(class="overview" id="overview")
		h2 Преимущества
		h4 с нами все проще
		.overview__img
			img(src="./img/Ruby.jpg" alt="")
			span Изучение языка Ruby для начинающих
		.overview__img
			img(src="./img/photoshop.jpg" alt="")
			span Уроки PhotoShop для начинающих
		.overview__img
			img(src="./img/Ruby.jpg" alt="")
			span Изучение языка Ruby для начинающих
		.overview__img
			img(src="./img/photoshop.jpg" alt="")
			span Уроки PhotoShop для начинающих